.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 5px;
}
.section {
    background: green;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 0.5em;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
}
